/*pad*/

img {
    max-width: 100%;
}

.gh {
    height: 20px;
    width: 20px;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.5s cubic-bmezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

.selected .gh {
    transform: rotate(90deg);
}

.gh a {
    background-color: #ff6801;
    display: block;
    margin: 0 auto;
    height: 2px;
    margin-top: -1px;
    position: relative;
    top: 50%;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    width: 100%;
    border-radius: 2px;
}

.gh a:after {
    width: 100%;
}

.gh a:before {
    width: 100%;
}

.gh a:after,
.gh a:before {
    background-color: #ff6801;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.gh a:after {
    top: 7px;
}

.gh a:before {
    top: -7px;
}

.selected .gh a:after,
.selected .gh a:before {
    top: 0;
}

.selected .gh a:before {
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    background: #ff6801;
    width: 100%;
}

.selected .gh a:after {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    background: #ff6801;
    width: 100%;
}

.selected .gh a {
    background-color: transparent !important;
}
@media only screen and (max-width:1240px) {
	.wrap {
		width: 1000px;
	}
	.hd {
	    padding: 15px 0 30px;
	}
	.hd h3 {
		font-size: 30px;line-height: 1.4;
	}
	.hd h6 {
		font-size: 22px;line-height: 1.8;
	}
	.fxuelst .fcrick ul li {
		padding: 15px 20px;
	}
	.ftlt h2 {
		font-size: 26px;
	}
	.fxuelst .fcrick li .ftext {
		margin-top: 10px;
	}
	.fxuelst .fcrick li .fdah {
		margin-top: 15px;
	}
}
@media only screen and (max-width:1040px) {
	.wrap {
		width: auto;
	}
	.fxuelst .fcrick li .ftrtop {
		margin-top: 10px;
	}
	.fxuelst .flst {
		padding: 50px 15px 40px;
	}
	.hd h3 {
		font-size: 26px;
	}
	.hd h6 {
		font-size: 20px;
	}
	.hd {
	    padding: 10px 0 20px;
	}
	.fxuelst .fcrick li .fpagels dl {
		margin: 15px auto 0;
	}
	.fxuelst .fcrick li .ftext {
		font-size: 14px;height: 40px;
	}
	.fxuelst .fcrick li .fdah {
		font-size: 13px;line-height: 32px;padding: 0 10px;
	}
	
	
}
@media only screen and (max-width:800px) {
	.wrap {
		width: auto;
	}
	.fxuelst .flst {
		padding: 30px 15px;
	}
	.hd {
	    padding: 10px 0 15px;
	}
	.hd h3 {
		font-size: 23px;
	}
	.hd h6 {
		font-size: 18px;
	}
	.fxuelst .fcrick ul {
		display: block;flex-wrap: initial;
	}
	.fxuelst .fcrick ul li {
		padding: 20px 15px 30px;width: auto;margin-left: auto !important;margin-bottom: 3%;
		min-height: auto;
	}
	.ftlt h2 {
		font-size: 24px;
	}
}
@media only screen and (max-width:500px) {
	.fxuelst .flst {
	    padding: 20px 15px;
	}
	.hd h3 {
		font-size: 20px;
	}
	.hd h6 {
		font-size: 16px;line-height: 1.4;
	}
	.ftlt h2 {
		font-size: 20px;line-height: 1.4;
	}
	.fxuelst .fcrick li .fpagels dd {
		margin: 0 2px;
	}
	.fxuelst .fcrick li .fdah {
		font-size: 12px;line-height: 30px;
		margin-top: 10px;
	}
	.fxuelst .fcrick li .ftrtop {
		margin-top: 6px;
	}
}